$base-green: #14b860;
$base-blue: #1f628e;
$base-lightblue: #c0f0f7;
$base-turquoise: #00a8a8;
$base-grey: #e1e7ed;
$base-black: #272829;

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Roboto", "Proxima Nova", Helvetica, sans-serif;
  .navbar {
    background: $base-black;
  }
}

.navbar {
  display: flex;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  height: 100px;
  background: $base-black;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    margin: 0 1rem;
    padding: 0;

    justify-items: center;
    align-items: center;

    li {
      padding: 0 1rem;
      margin: 0 1rem;
    }
  }

  .logo {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 2rem;
    a {
      padding: 1rem;
      img {
        width: 100%;
      }
    }
  }

  .a_link {
    &:hover {
      color: $base-green;
      transition: 0.3s;
    }
  }

  .spacer {
    flex-grow: 1;
  }
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100%;

  .section-1 {
    height: 100vh;
    background: $base-grey;
  }

  .section-2 {
    height: 100vh;
    background: #fff;
  }

  .section-3 {
    height: 100vh;
    background: $base-grey;
  }

  .section-4 {
    height: 100vh;
    background: #fff;
  }

  .section-5 {
    height: 100vh;
    background: $base-grey;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  height: 10rem;
  background: $base-black;
}

.a_button {
  background: $base-green;
  padding: 0.5rem 1.8rem;
  border-radius: 30px;
}

@media (max-width: 976px) {
  .link {
    display: none;
  }
}
